$bg: #000000;
$bgColorGradient1: #000;
$bgColorGradient2:  #04619f;
$bodyFontColor: #fff;

$fontColor100:rgba(255, 255, 255, 1);
$fontColor80: rgba(255, 255, 255, .8);
$fontColor50: rgba(255, 255, 255, .5);

$cardBg: #1172b3;
$cardBorderBg: rgba(255, 255, 255, .1)