$bg: #485461;
$bgColorGradient1: #485461;
$bgColorGradient2:  #28313b;
$bodyFontColor: #fff;

$fontColor100:rgba(255, 255, 255, 1);
$fontColor80: rgba(255, 255, 255, .8);
$fontColor50: rgba(255, 255, 255, .5);