@import "variables.scss";
@import "fonts.scss";

* {
  box-sizing: border-box;
  font-family: tex, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

body {
  margin: 0;
  padding: 0;
  background: $body-bg;
  color: $body-font-color;  
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.link-light {
  color: $link-color;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex {
  display: flex;
  position: relative;
}

.flex-column {
  display:flex;
  flex-direction: column;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.body-centered {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
}

.flex-card {
  display: flex;
  margin-top: 20px;
  margin-right: 20x;
}

.card-container {
  border-radius: 5px;
  padding: 10px;
  margin: 10px;

  &--title {
    font-size: 24px;
    font-weight: 700;
    color: $large-title-color;
  }
}

.heading-container {
  padding-top:5px;
  color: $heading-color;
  width: 50%;
  display: flex;
  justify-content: center;
}

.div-spacing-10 {
  & > div {
    margin-right: 10px;
    margin-bottom: 10px;
  }
}

.card-1 {
  background: $card-bg-1;
}

.card-2 {
  background: $card-bg-2;
}

.title-large {
  color: $large-title-color;
  font-family: texBold;
  font-size: 24px;
}

.title-medium-label {
  color: $large-title-color-label;
  font-family: texBold;
  font-size: 20px;
}

.title-medium-value {
  color: $large-title-color;
  font-family: texBold;
  font-size: 20px;
}

.span-100 {
  width: 100px;
  display: inline-block;
}

.result-1 {
  color: white;
}

.result-2 {
  color: greenyellow;
}

/* FORMS */
::placeholder {
  color: #555;
}

.left-label {
  width: 300px;
  display: flex;
  justify-content: flex-end;
}

.input-container-with-dropdown {
  display: flex;
  position: relative;
  z-index: 100;
  & input {
    width: 175px;
  }
}

.arrow-container {
  display: flex;
  height: 25px;
  width: 25px;
  border: 1px solid #555;
  background: #ccc;
  color: #000;
  justify-content: center;
  cursor: default;

  &:hover {
    background: #fff;
  }

  &--clicked {

  }
}

.blurb {
  width: 800px;
  font-size: 14px;
  margin-left:25px;
  margin-top: 50px;
}

.dropdown-list {
  position: absolute;
  top: 100%;
  left: 0;
  background: #888;
  padding: 3px;

  & ul {
    list-style: none;
    margin: 0;
    padding: 3px;
    width: 175px;
    z-index: 100;
    cursor: default;
    & li {
      border-bottom: 1px solid #666;
      padding: 2px;
      cursor: pointer;
      &:hover {
        background: yellow;
        color: #000;
      }
    }
  }
}

.close {
  height: 20px;
  width: 20px;
  display: flex;
  justify-content: center;
  align-content: center;
  color:lightgrey;
  border: 1px solid #888;
  background: #999;
  font-weight: bold;
  position: relative;
  cursor: pointer;
  &:hover {
    background: #555;
    color:red;
  }
  &-x {
    position: absolute;
    top: -5px;
    left: 5px;
  }
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 900px) {
  .flex-row {
    flex-direction: column;
    display: flex;
    width: 100%;
  }
  .left-label {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .input-container {
    width: 100%;
    justify-content: center;
    input {
      width: 100%;
      height: 40px;
      font-size: 20px;
    }
  }
  .input-container-with-dropdown {
    width: 100%;
    justify-content: center;
    input {
      width: 90%;
      height: 40px;
      font-size: 20px;
    }
  }
  .div-spacing-10 {
    margin-bottom: 10px;
  }
  .arrow-container {
    display: flex;
    height: 40px;
    width: 40px;
    border: 1px solid #555;
    background: $arrow-bg;
    color: #000;
    justify-content: center;
    cursor: default;
    font-size: 24px;
  
    &:hover {
      background: #fff;
    }
  
    &--clicked {
  
    }
  }
  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  button {
    width: 90%;
    font-size: 20px;
    height: 40px;
    margin-bottom: 40px;
  }
  .blurb {
    width: 100%;
    margin-top: 15px;
  }
  .card-container {
    width: 100%;
  }
}