$medium-gray: #505050;
$gray: #bbb;
$light-gray: #dedede;

/* themes */

/* default */
$body-bg: #01002A;
$body-font-color: #d3d3d3;
$card-bg-1: #144a68;
$card-bg-2: #0c2a4d;
$large-title-color-label: $gray;
$large-title-color: #fff;
$arrow-bg: #71a4c0;

